<div class="container">
  <h2>All movies</h2>
  <ul class="responsive-table">
    <input type="search"
    class="form-control"
    placeholder="Please enter search term"
    [formControl]="searchField">
    <hr/>
    <li class="table-header">
      <div class="col col-4" (click)="sort(sortFieldEnum.Title)">Title</div>
      <div class="col col-3">Director</div>
      <div class="col col-2" (click)="sort(sortFieldEnum.Year)">Year</div>
      <div class="col col-2" (click)="sort(sortFieldEnum.Mins)">Mins</div>
      <div class="col col-2"></div>
    </li>
    <li class="table-row" [style.background-color]="movie.title | movieBackground" *ngFor="let movie of movies">
      <div class="col col-4">{{movie.title}}</div>
      <div class="col col-3">{{movie.director}}</div>
      <div class="col col-2">{{movie.year}}</div>
      <div class="col col-2">{{movie.mins}}   </div>
      <div class="col col-2"><a [routerLink]="['/', movie.slug]">View</a></div>
    </li>
  </ul>
</div>
